<footer class="global-footer">
  <div class="container">
    <ul class="global-footer__items">
      <li class="global-footer__item"><%= link_to t('global_footer.contact_developer'), 'https://github.com/maku693', class: 'global-footer__link', target: '_blank' %></li>
    </ul>
  </div>
</footer>
