<section role="banner">
  <h1><%= t('.tagline') %></h1>
  <p>
    <% t('.descriptions').each do |description| %><%= tag.span(description, class: 'wordwrap') %><% end %>
  </p>
  <section><%= link_to(t('.start'), new_event_path) %></section>
</section>
