<% page_title t('.title') %>
<section class="section">
  <div class="container">
    <h1 class="title"><%= page_title %></h1>
    <p id="notice"><%= notice %></p>
    <%= render 'events/form', event: event %>
  </div>
</section>
